<div class="row">
  <div class="large-offset-2 large-8 columns"
    <form action="/account/reset" method="post">
      <fieldset>
        <legend>Password Reset</legend>
        <div class="row">
          <div class="large-12 columns">
            <label>Enter your email address
              <input type="email" name="email" placeholder="e.g. jane.doe@gmail.com" autofocus>
            </label>
          </div>
        </div>
        <input class="button tiny" type="submit" value="Submit">
      </fieldset>
    </form>
  </div>
</div>
