<div class="row">
  <!-- FIXME: is there a way to do offsets in foundation? -->
  <div class="small-1 large-4 columns"></div>
  <div class="small-10 large-4 columns">
    <form action="/account/reset" method="post">
      <fieldset>
        <legend>Password Reset</legend>
        <div class="row">
          <div class="large-12 columns">
            <label>Enter your email address
              <input type="email" name="email" placeholder="e.g. jane.doe@gmail.com" autofocus>
            </label>
          </div>
          <div class="row">
            <div class="large-2 columns">
              <input type="submit" value="Submit">
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="small-1 large-4 columns"></div>
</div>
