<div class="row" style="margin-top:12em">
  <div class="large-12 columns">
    <div data-alert class="alert-box success radius">
      <h4>Success!</h4>
      <p>We just sent an email to <strong><%= data[:email] %></strong> with password reset instructions.  Follow them to reset your password.</p>
    </div>
  </div>
</div>
