<div class="row">
  <div class="large-offset-2 large-8 columns">
    <form action="/account/change/<%= data[:uuid] %>" method="post">
      <fieldset>
        <legend>Password Reset</legend>

        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <label>Enter a New Password</label>
              <div class="small-2 columns">
                <span class="prefix button"><i class="fi-lock"></i></span>
              </div>
              <div class="small-10 columns">
                <input id="pw1" type="password" name="password" autofocus>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <label>Retype Your New Password</label>
              <div class="small-2 columns">
                <span class="button prefix"><i class="fi-lock"></i></span>
              </div>
              <div class="small-10 columns">
                <input id="pw2" type="password" name="pw2">
              </div>
            </div>
          </div>
        </div>

        <input class="button tiny warning" type="submit" value="Submit" disabled="disabled">
      </fieldset>
    </form>
  </div>
</div>
<script>
  // a small js script to only allow submission once the passwords
  // match.

  var passwd1 = $("#pw1"),
      passwd2 = $("#pw2");

  $("input[type=password]").keyup(function () {
    // disabled if not valid
    var valid = passwd1.val() === passwd2.val() && passwd1.val() !== "";
    if (valid) {
      $(".prefix").removeClass("secondary").addClass("success");
      $("input[type=submit]").removeClass("warning").addClass("success");
    } else {
      $(".prefix").removeClass("success").addClass("secondary");
      $("input[type=submit]").removeClass("success").addClass("warning");
    }

    $("input[type=submit]").prop('disabled', !valid);
  });
</script>
