<div class="row" style="margin-top:12em">
  <div class="large-12 columns">
    <div data-alert class="alert-box alert radius">
      <h4>Whoops!</h4>
      <p>It looks like your password reset link has expired!  Please resubmit your email address <a href="<%= data[:url] %>">here</a> and we'll get right on fixing this.</p>
    </div>
  </div>
</div>
