<div class="row pad-top">
  <div class="large-12 columns">
    <div data-alert class="alert-box alert radius">
      <h4>Whoops!</h4>
      <p>It looks like your password reset link is either incorrect or has expired!  Please resubmit your email address <a href="<%= data[:url] %>">here</a> and we'll get this set straight.</p>
    </div>
  </div>
</div>
