<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=windows-1252">
</head>
<body style="max-width:600px; margin:0 auto;font-family:arial;" bgcolor="#ffffff">
  <div style="margin:0; padding:0px;" bgcolor="#ffffff">
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0">
      <tbody>
        <tr>
          <td style="padding-bottom: 10px;" valign="top" align="center" bgcolor="#ffffff">
            <table style="border-collapse:collapse" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td style="padding:12px;padding-left: 12px; color:#ffffff; padding-right:12px;" bgcolor="#003f82">
                    <table width="100%" cellpadding="0" cellspacing="0" align="left">
                      <tbody>
                        <tr>
                          <td align="left">
                            <strong style="font-size: 20px; color:#ffffff"><b>Stock Alert</b></strong>
                          </td>
                          <td style="line-height: 19px;font-size: 10px; color:#ffffff" align="right">
                            %{Health Center}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="background-color: #ffffff; padding-top: 5px; padding-left: 12px; padding-right: 12px; padding-bottom: 12px;" bgcolor="#ffffff">
                  <div style="line-height: 18px; font-size: 16px; color: #000000; border-bottom: 1px solid #efefef; margin-bottom: 5px; margin-top: 20px">The following drug(s) are in need of reorder:</div>
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td valign="top">
                          <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td style="font-size: 16px; line-height: 17px; padding: 14px 14px 0px 14px;">
                                  <table style="border: 1px solid black;" width="600px" cellpadding="0" cellspacing="0" align="left">
                                    <thead>
                                      <tr>
                                        <th style="border-right: 1px solid black;">Drug Name</th>
                                        <th style="border-right: 1px solid black;">CPT</th>
                                        <th style="border-right: 1px solid black; padding : 2px">Stock</th>
                                        <th style="border-right: 1px solid black; padding : 2px">Consumption Rate</th>
                                        <th>Stock Out</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% for @alert in @alerts -%>
                                        <tr>
                                          <% for @property in @alert -%>
                                            <td style="padding:2px;border:1px solid black;border-bottom:0;border-left:0;" align="center"><%= @property %></td>
                                          <% end %>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
