<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=windows-1252">
</head>
<body style="max-width:600px; margin:0 auto;font-family:arial;" bgcolor="#ffffff">
  <div style="margin:0; padding:0px;" bgcolor="#ffffff">
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0">
      <tbody>
        <tr>
          <td style="padding-bottom: 10px;" valign="top" align="center" bgcolor="#ffffff">
            <table style="border-collapse:collapse" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td style="padding:12px;padding-left: 12px; color:#ffffff; padding-right:12px;" bgcolor="#104E00">
                    <table width="100%" cellpadding="0" cellspacing="0" align="left">
                      <tbody>
                        <tr>
                          <td align="left">
                            <strong style="font-size: 20px; color:#ffffff"><b>Drug Inventory Password Reset</b></strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="background-color: #ffffff; padding-top: 5px; padding-left: 12px; padding-right: 12px;" bgcolor="#ffffff">
                    <div style="line-height: 18px; font-size: 16px; color: #000000; margin-bottom: 5px; margin-top: 20px">
                      <p>Someone recently requested that the password be reset for <b><%= data[:user] %></b>.
                      <p>If this was an error, you can ignore this email - no changes have been made to your account.</p>
                      <p>To reset your password please click the link below, or paste it in your browser:</p>
                      <a href="<%= data[:url] %>"><%= data[:url] %></a>
                      <p><i> - New College Dev Team </i></p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr><td colspan="5" style="padding-bottom: 75px;"></td><td></td></tr>
        <tr>
          <td style="padding:12px;padding-left:12px;padding-right:12px;">
            <table width="100%" cellpadding="0" cellspacing="0" align="left">
              <tbody>
                <tr>
                  <td align="left">
                    <strong style="font-size: 12px;"><b>Email alerts brought to you by Drug Inventory © 2014</b></strong>
                  </td>
                  <td align="right">
                    <a href="#" style="font-size: 12px;" disabled="">Unsubscribe</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
