<!doctype html>
<html>
<head>
  <title>Drug Inventory</title>
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/foundation.min.css" rel="stylesheet">
  <link href="/css/fonts/foundation-icons.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">

  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script type="text/javascript" src="/js/highcharts.js"></script>

  <!-- All the application's js is contained here -->
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">

      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><i class="fi fi-clipboard-notes"></i> Drug Inventory</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      </ul>

      <% if env['warden'].user %>
        <section class="top-bar-section">
          <ul class="right">
            <li>
              <a href="/home"><i class="fi fi-home"></i> Home</a>
            </li>

            <li>
              <a href="/drugs"><i class="fi fi-graph-trend"></i> Drugs</a>
            </li>

            <li class="has-dropdown">
              <a href="">Corrections</a>
              <ul class="dropdown">
                <li><a href="/corrections/center"><i class="fi fi-list"></i> View All</a></li>
                <li><a href="/corrections/new"><i class="fi fi-plus"></i> Add a Correction</a></li>
              </ul>
            </li>

            <li>
              <a href="/auth/logout"><i class="fi fi-eject"></i> Logout</a>
            </li>
          </ul>
        </section>
      <% end %>

    </nav>
  </div>

  <main>
    <%= yield %>
  </main>
  <script>$(document).foundation()</script>
</body>
</html>
