
<!-- ruby func will need link_title, element_id, url -->

<a href='#' id=<%= element_id %>><%= link_title %></a>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages: ['corechart']});
  console.debug('yo!');
  $('#<%= element_id %>').click(function(event){
    event.preventDefault();
    console.debug('sending...');
    $.getJSON('<%= @json_url %>', function(data){
      console.debug(data);
      var json_data = data;
      console.debug(json_data);

      // Create and populate the data table.
      var chart_data = google.visualization.arrayToDataTable(json_data);

      // Create and draw the visualization.
      new google.visualization.LineChart(document.getElementById('visualization')).
        draw(chart_data, {
          curveType: "function",
          width: 500, height: 400,
          vAxis: {maxValue: 10}
        }
      );
    });

  });
</script>
<div id="visualization" style="width: 500px; height: 400px;"></div>

​
