
<div class="container">

  <div class="column-left">

  <div class="index-header"><span>Email List</span></div>

  <div class="email-header"><span>Location One</span></div>

  <div class="mailing-list">
    <ul>
      <li>jane.doe@default.com</li>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li><a href="#" class="button-add-email">add</a></li>
    </ul>

  </div>

  <div class="email-header"><span>Location Two</span></div>

  <div class="mailing-list">
    <ul>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li><form><span class="email-form"><input type="text" placeholder="email"></span></form></li>
      <li><a href="#" class="button-add-email">add</a></li>
    </ul>

  </div>

  <div class="email-header"><span>Location Three</span></div>

  <div class="mailing-list">
    <ul>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li><a href="#" class="button-add-email">add</a></li>
    </ul>

  </div>
  </div> <!-- end of "column-left" -->

  <div class="column-right">

  <div class="email-header"><span>Location Four</span></div>

  <div class="mailing-list">
    <ul>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li><a href="#" class="button-add-email">add</a></li>
    </ul>

  <div class="email-header"><span>Location Five</span></div>

  <div class="mailing-list">
    <ul>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li><a href="#" class="button-add-email">add</a></li>
    </ul>

  <div class="email-header"><span>Location Six</span></div>

  <div class="mailing-list">
    <ul>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li>example@default.com</li>
      <li><a href="#" class="button-add-email">add</a></li>
    </ul>

  </div>
  </div> <!-- end of "column-right" -->

</div><!-- end of "container" -->

</div>
</div>