<div class="container">

  <div class="index-header"><thead>Index</thead></div>
  <table>
		<tr>
			<th>CPT Code</th>
			<th>Name</th>
			<th>Vendor</th>
      <th>Count</th>
      <th></th>
    </tr>
		<% for drug_data in @cpts %>
      <tr>
        <td><%= drug_data.code %></td>
				<td><%= drug_data.drug.name %></td>
				<td><%= drug_data.drug.vendor %></td>
				<td>1</td>
      </tr>
    <% end %>
  </table>

  <%# TODO: pagination, use will_paginate gem %>
</div><!-- end of "container" -->
