/* Why must I do this hack? */
table { width:100%;}
.blue { background-color:#003f82; color: #fff;}
.blue th, .blue td, .blue th a, .blue td a { color: #fff;}

.alert-box h1,
.alert-box h2,
.alert-box h3,
.alert-box h4,
.alert-box h5,
.alert-box a {
  color: #fff;
}

.alert-box a {
  font-weight: bold;
}

.row.pad-top {
  margin-top: 4em;
}

.contain-to-grid {
  border-bottom: 3px solid rgb(6, 99, 6);
  background : none repeat scroll 0% 0% rgb(0, 0, 0);
}

.contain-to-grid .top-bar {
  background : inherit;
}
