<div class="row" style="margin-top:1em;">
  <div class="large-12 columns">
    <div class="alert-box success">
      <strong><i class="fi fi-user"></i> Success!</strong> You created a new user <b><%= data[:user].name %></b>.  Go ahead and <a href="/login">login!</a>
    </div>
  </div>
</div>
