<div class="row" style="margin-top:1em;">
  <div class="large-12 columns">
    <div class="alert-box alert">
      <strong><i class="fi fi-user"></i> Error!</strong> Whoops, something strange happened.  You best <a href="/users/create">try again.</a>
    </div>
  </div>
</div>
