<div class="row">
  <div class="large-offset-2 large-8 columns">
    <form action="/user/<%= data[:user].id %>/reset/<%= data[:token] %>" method="post">
      <fieldset>
        <legend>Choose a new password</legend>

        <div class="row">
          <div class="large-12 columns">
            <div class="alert-box info">
            Please choose a new password for <b><%= data[:user].name %></b> (<%= data[:user].email %>).
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <label>Enter a New Password</label>
              <div class="small-2 columns">
                <span class="prefix button secondary" disabled="disabled"><i class="fi-lock"></i></span>
              </div>
              <div class="small-10 columns">
                <input id="pw1" type="password" name="password" autofocus>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <label>Retype the New Password</label>
              <div class="small-2 columns">
                <span class="prefix button secondary" disabled="disabled"><i class="fi-lock"></i></span>
              </div>
              <div class="small-10 columns">
                <input id="pw2" type="password" name="pw2">
              </div>
            </div>
          </div>
        </div>

        <input class="button tiny warning" type="submit" value="Submit" disabled="disabled">
      </fieldset>
    </form>
  </div>
</div>
<script>(function (window) { window.app.setupListeners(); })(window);</script>
