<div class="row pad-top">
  <div class="large-12 columns">
    <div data-alert class="alert-box success radius">
      <h4>Success!</h4>
      <p>The password has been successfully reset for <strong><%= data[:email] %></strong>. You may now <a href="/login">login</a>.</p>
    </div>
  </div>
</div>
