<div class="row pad-top">
  <div class="large-12 columns">
    <div data-alert class="alert-box whoops radius">
      <h4>Whoops!</h4>
      <p>Something strange happened.  The password could not successfully reset.  I recommend <a href="/users/reset/email">starting over</a>.</p>
    </div>
  </div>
</div>
