<div class="row pad-top">
  <div class="large-offset-4 large-4 columns">
    <h4>Reset User Password</h4>
    <form action="/users/reset/email" method="post" name="reset">

      <% if not error.nil? %>
        <div class="row">
          <div class="large-12 columns error">
            <label>Please enter your email address
              <input type="email" name="email" placeholder="user@mail.org" autofocus>
            </label>
            <small class="error">I cannot find a record for <i><%= error %></i>.  Please try again.</small>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="large-12 columns">
            <label>Please enter your email address
              <input type="email" name="email" placeholder="user@mail.org" autofocus>
            </label>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <button class="button tiny" type="submit">Submit</button>
          <a class="button tiny" href="/login">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>
