<div class="row" style="margin-top:1em;">
  <div class="large-offset-1 large-10 columns">
    <div class="panel callout radius">
      <strong><i class="fi fi-page"></i> Success!</strong> You added a new correction to the database!
    </div>
    <table class="table">
      <thead>
        <tr colspan="4">
          <th>All Health Centers</th>
        </tr>
        <tr>
          <th>CPT</th>
          <th>Drug</th>
          <th>Count</th>
          <th>Date</th>
      </thead>
      <tbody>
        <% data.corrections.each do |correction| %>
          <tr>
            <td><%= correction[:cpt] %></td>
            <td><%= correction[:name] %></td>
            <td><%= correction[:count] %></td>
            <td><%= correction[:date] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
