<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=windows-1252">
</head>
<body style="max-width:600px; margin:0 auto;font-family:arial;" bgcolor="#ffffff">
  <div style="margin:0; padding:0px;" bgcolor="#ffffff">
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0">
      <tbody>
        <tr>
          <td style="padding-bottom: 10px;" valign="top" align="center" bgcolor="#ffffff">
            <table style="border-collapse:collapse" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td style="padding:12px;padding-left: 12px; color:#ffffff; padding-right:12px;" bgcolor="#2C3E50">
                    <table width="100%" cellpadding="0" cellspacing="0" align="left">
                      <tbody>
                        <tr>
                          <td align="left">
                            <strong style="font-size: 20px; color:#ffffff"><b>Feedback from <%= data[:user].name %></b></strong>
                          </td>
                          <td style="line-height: 19px;font-size: 10px; color:#ffffff" align="right">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="background-color: #ffffff; padding-top: 5px; padding-left: 12px; padding-right: 12px; padding-bottom: 12px;" bgcolor="#ffffff">
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td valign="top">
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td style="font-size: 16px; line-height: 17px; padding: 14px 14px 0px 14px;">
                                    <%= data[:comments] %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr><td colspan="5" style="padding-bottom: 75px;"><td></tr>
                <tr>
                  <td style="padding:12px;padding-left:12px;padding-right:12px;">
                    <table width="100%" cellpadding="0" cellspacing="0" align="left">
                      <tbody>
                        <tr>
                          <td align="left">
                            <strong style="font-size: 12px;"><b>Email alerts brought to you by Drug Inventory &copy; 2014</b></strong>
                          </td>
                          <td align="right">
                            <a href="#"  style="font-size: 12px;" disabled>Unsubscribe</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
